<h1>Tacos!!!</h1>

<% 
  die 1 =rand(1..6)
  die 2 =rand(1..6) 
%>

<p>
<%= die 1 %>
  <img src="/images/dice/<%= die1 %>.svg" alt="">
  <img src="/images/dice/<%= die2 %>.svg" alt="">
<p>

 </p>
  The total is <% die 1 + die 2 %>
  <p>